<a data-date="{{URLdate}}" data-dude="{{dude}}" href="#" class="dudePreview">
    {{#if thumb}}
        <img class="dudePreviewThumb" src="{{thumb}}" />
    {{/if}}
    <i>{{formattedDate}}</i>
    <br>
    {{dude}}
    <br>
    {{greeting}}
</a>