<div id="dude-container">
    <p>
        <a href="#" id="backToDudes">All Dudes</a>
    </p>
    {{#if dude}}
        {{URLdate}}
        <h1>{{dude}}</h1>
        <h2>{{greeting}}</h2>
        {{#if photo }}
            <img id="dude-photo" src="{{photo}}">
        {{ else }}
            no photo
        {{/if}}
        {{#if thumb}}
            <br>
            <img id="dude-thumb" src="{{thumb}}">
        {{/if}}
    {{ else }}
        <h1>Not found</h1>
    {{/if}}
    <p>
        <a href="#" id="editDudeBtn">EDIT</a>
    </p>
</div>

